/*
    Colour variables
*/

:root {
    --pearl: #ece6df;
    --burnt-sienna: #EE6753;
    --cocoa-brown: #352222;
    --dorado: #725f5f;
    --nobel: #b3b3b3;

    --concrete: #f2f2f2;
    --jagged-ice: #d1e9ed;
    --nevada: #586A6B;
    --chathams-blue: #10576b;
}